<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Waveform viewer</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  </head>
  <body>
	<a href="/signal">Last signal breakdown here</a>
    <div class="container">
<div id="visualization"></div>
<script type="text/javascript">
    var container1 = document.getElementById('visualization');
     var groups = new vis.DataSet();
  <% 
  for(var g=0; g<samples.length; g++) { %>
     groups.add({
        id: <%=g %>,
         content: '<%=samples[g].detectoruid %> <%=samples[g].received %> <%=samples[g].packetnumber %> ',
        options: {
            drawPoints: false
//,
//            interpolation: {
//                parametrization: 'centripetal'
//            }
        }})
  <% } %>


  var items = [
  <% 
  for(var g=0; g<samples.length; g++) { %>
    <% for(var i=0; i<samples[g].data.length; i++) {%>
       { x: <%= i %> , y: <%= samples[g].data[i] %>, group: <%=g %> },
  <% }} %>
  ];
 
  var dataset = new vis.DataSet(items);

  var options = {
legend: {right: {position: 'top-left'}},   drawPoints: {
      style: 'circle' // square, circle
    }
  };
  var graph2d1 = new vis.Graph2d(container1, dataset, groups, options);

</script>
</div>
  </body>
</html>